#codeArea{
-fx-overflow-x: scroll;
-fx-overflow-y: scroll;
-fx-border-width: 2px;
-fx-border-color: #A4A4A4;
}



#testArea{
-fx-overflow-x: scroll;
-fx-overflow-y: scroll;
-fx-border-width: 2px;
-fx-border-color: #A4A4A4;
}



#menu{
-fx-background-color: #A4A4A4;
}

#compilerMessages{
-fx-overflow-x: scroll;
-fx-overflow-y: scroll;
}

#taskMenu{
-fx-overflow-x: scroll;
-fx-overflow-y: scroll;
}

#status{

}