#codeArea{
-fx-overflow-x: scroll;
-fx-overflow-y: scroll;
-fx-border-width: 2px;
-fx-border-color: #A4A4A4;
}

#codeArea .content{
-fx-background-color: #FFFFFF;
}

#testArea{
-fx-overflow-x: scroll;
-fx-overflow-y: scroll;
-fx-border-width: 2px;
-fx-border-color: #DF0101;
}

#testArea .content{
-fx-background-color: #FFFFFF;
}

#menu{
-fx-background-color: #A4A4A4;
}

#compilerMessages{
-fx-overflow-x: scroll;
-fx-overflow-y: scroll;
}

#taskMenu{
-fx-overflow-x: scroll;
-fx-overflow-y: scroll;
}